<!DOCTYPE html>


 <h1> Welcome to the webiste </h1>
 
 
 <p> The message is came from <p>
 
 <p>
 
    <%= @contact.name %><br/>
    <%= @contact.email %><br/>
 
 
 </p>
 
 <p> The visitor says : </p>
 
 
  <p> <%= @contact.content %> </p>

</html>